# Notebook inicial de EDA para llamadaa 123
---------------------------------------------------

In [6]:
 # Importar librerias de manipulacion de datos
 import pandas as pd

 import os
 from pathlib import Path

In [17]:
#Llama la ruta del archivo
root_dir = Path('.').resolve().parent 
filename = 'llamadas123_julio_2022.csv'

file_path = os.path.join(root_dir,'data','raw',filename)
file_path

'C:\\Users\\Dell\\OneDrive\\Documentos\\Universidad\\Lenguaje_Big_Data\\data\\raw\\llamadas123_julio_2022.csv'

In [40]:
 #Identificar como estan divididas las columnas y en que idioma estan los datos (identtificar caracteres)
df = pd.read_csv(file_path, sep = ';',encoding = 'latin-1')

In [42]:
df.head()

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29

In [43]:
#data-shaoe retorna las dimensiones de la tabla (filas,columnas)
type(df.shape)

tuple

In [44]:
#tipo de datos de cada columna (dtypes-exclusivo de pandas)
df.dtypes

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [49]:
df['EDAD'].value_counts(normalize=True,dropna=False)

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [54]:
#Devuelve los valores unicos-listas
len(df['TIPO_INCIDENTE'].unique())

21

In [69]:
#Crear listas y contar valores unicos
lista_columnas = df.columns
#lista_columnas[] en los rangos de la lista
#Crear un diccionario vacio
dict_reporte = dict()

for col in lista_columnas:
    lista_unicos =df[col].unique()
    n_unicos = len(lista_unicos)
    dict_reporte[col]=n_unicos
    #print(col,n_unicos)
print(dict_reporte)

{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [71]:
#Generar el reporte final
df_reporte = pd.DataFrame.from_dict(dict_reporte,orient='index')
df_reporte.rename({0:'Conteo'},inplace=True,axis=1)
df_reporte

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [73]:
#Guardar el archivo ya procesado en una ruta especifica
out_name='reporte_'+filename
out_path=os.path.join(root_dir,'data','processed',out_name)
df_reporte.to_csv(out_path)

Conclusiones
1.Los datos de ingesta son inmutables (raw) no se editan solo son para consulta
2.Siempre debe salir un archivo completamente nuevo despues de ser procesado
Notebook (ipynb)